.slim-scroll {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden !important;
//  margin-right:0px;
    margin-left:0px;
}
.fixed-worksppace {
    overflow: hidden;
}

.filter-list ul a.active li {
	background-color:#3F67AE !important;
	color:white;
}

.filter-list ul a.active:hover li {
    background-color: #F7F7F7 !important;
    color: white;
}