.padding-top-1{
	padding-top: 1px;
}

.padding-top-4{
	padding-top: 4px;
}

.padding-top-5{
	padding-top: 5px;
}

.padding-top-6{
	padding-top: 6px;
}

.padding-top-7{
	padding-top: 7px;
}

.padding-top-8{
	padding-top: 8px;
}

.padding-top-10{
	padding-top: 10px;
}

.padding-top-13{
	padding-top: 13px;
}

.padding-top-18{
	padding-top: 18px;
}

.padding-top-30{
	padding-top: 30px;
}

.padding-top-40{
	padding-top: 40px;
}

.padding-top-53{
	padding-top: 53px;
}

.padding-top-56{
	padding-top: 56px;
}

.padding-top-58{
	padding-top: 58px;
}

.padding-top-85{
	padding-top: 85px;
}

.padding-bottom-1{
	padding-bottom: 1px;
}

.padding-bottom-0{
	padding-bottom: 0px;
}

.padding-bottom-3{
	padding-bottom: 3px;
}

.padding-bottom-5{
	padding-bottom: 5px;
}

.padding-bottom-6{
	padding-bottom: 6px;
}

.padding-bottom-7{
	padding-bottom: 7px;
}

.padding-bottom-15{
	padding-bottom: 15px;
}

.padding-left-0{
	padding-left: 0px;
}

.padding-left-5{
	padding-left: 5px;
}

.padding-left-15{
	padding-left: 15px;
}

.padding-left-22{
	padding-left: 22px;
}

.padding-left-30{
	padding-left: 30px;
}

.padding-left-45{
	padding-left: 45px;
}

.padding-left-35{
	padding-left: 35px;
}

.padding-left-60{
	padding-left: 60px;
}

.padding-left-75{
	padding-left: 75px;
}

.padding-right-0{
	padding-right: 0px;
}

.padding-right-15{
	padding-right: 15px;
}

.padding-right-30{
	padding-right: 30px;
}

.padding-right-35{
	padding-right: 35px;
}

.padding-right-45{
	padding-right: 45px;
}

.padding-right-50{
	padding-right: 50px;
}

.padding-0{
	padding: 0px;
}

.padding-5{
	padding: 5px;
}

.padding-10{
	padding: 10px;
}

.padding-15{
	padding: 15px;
}

.padding-30{
	padding: 30px;
}

.padding-35{
	padding: 35px;
}
