a.link-white{
	color: #FFFFFF;
	text-decoration: none;
	&:hover, focus {
		background-color : none !important;
		color: #FFFFFF;
		text-decoration: none;
	}
}

a.link-blue{
	color: #3F67AE;
	text-decoration: none;
	&:hover, focus {
		background-color : none !important;
		color: #3F67AE;
		text-decoration: none;
	}
}

a.link-dark-blue{
	color: #2A5196;
	text-decoration: none;
	&:hover, focus {
		background-color : none !important;
		color: #2A5196;
		text-decoration: none;
	}
}

a.link-black{
	color: #1A1718;
	text-decoration: none;
	&:hover, focus {
		background-color : none !important;
		color: #1A1718;
		text-decoration: none;
	}
}

a.link-gray{
	color: #F7F7F7;
	text-decoration: none;
	&:hover, focus {
		background-color : none !important;
		color: #F7F7F7;
		text-decoration: none;
	}
}

a.link-round-100{
	border-radius: 100px;
}

.link-square-gray{
	border-radius: 0px;
	padding : 10px 30px;
	color: #1A1718;
	background-color : #FFFFFF !important;
	text-decoration: none;
	&:hover, focus {
		background-color : #F7F7F7 !important;
		color: #1A1718 !important;
		text-decoration: none;
		border-radius: 0px;
	}
}

.link-square-white{
	border-radius: 0px;
	padding : 10px 30px;
	color: #1A1718;
	text-decoration: none;
	&:hover, focus {
		background-color : #FFFFFF !important;
		color: #1A1718 !important;
		text-decoration: none;
		border-radius: 0px;
	}
}

.link-square-blue{
	border-radius: 0px;
	padding : 10px 30px;
	color: #FFFFFF !important;
	background-color : #3F67AE !important;
	text-decoration: none;
		&:hover, focus {
		background-color : #F7F7F7 !important;
		color: #1A1718 !important;
		text-decoration: none;
		border-radius: 0px;
	}
}

.link-square-gray-225{
	border-radius: 0px;
	padding : 10px 30px;
	color: #1A1718 !important;
	background-color : #E6E6E6 !important;
	text-decoration: none;
		&:hover, focus {
		background-color : #DCDCDC !important;
		color: #1A1718 !important;
		text-decoration: none;
		border-radius: 0px;
	}
}

.link-square-yellow{
	border-radius: 0px;
	padding : 10px 30px;
	color: #1A1718 !important;
	background-color : #FFFDEA !important;
	text-decoration: none;
		&:hover, focus {
		background-color : #FFFBD2 !important;
		color: #1A1718 !important;
		text-decoration: none;
		border-radius: 0px;
	}
}

.link-square-green{
	border-radius: 0px;
	padding : 10px 15px;
	border : 1px solid #E6E6E6;
	background-color : #FFFFFF !important;
	text-decoration: none;
		&:hover, focus {
		background-color : #FFFFFF !important;
		border : 1px solid #38AD1A;
		text-decoration: none;
		border-radius: 0px;
	}
}

a.link-transparent{
	text-decoration: none;
	background-color: transparent;
	color: inherit;
}

a.link-menu{
	text-decoration: none;
	background-color: transparent;
	color: #274659;
	&:hover{
		.card {
			border: 3px solid #fff;
		}
		.card-block {
			background-color: #274659;
			color: #fff;
		}
	}
}