.font-size-10{
	font-size: 10px;
}

.font-size-12{
	font-size: 12px;
}

.font-size-14{
	font-size: 14px;
}

.font-size-16{
	font-size: 16px;
}

.font-size-18{
	font-size: 18px;
}

.font-size-25{
	font-size: 25px;
}

.font-size-28{
	font-size: 28px;
}

.font-size-35{
	font-size: 35px;
}

.font-size-50{
	font-size: 50px;
}

.font-white{
	color: #FFFFFF;
}

.font-red{
	color: #DB141A;
}

.font-black{
	color: #1A1718;
}

.font-dark-blue{
	color: #2A5196;
}

.font-gray-225{
	color: #E1E1E1;
}

.text-uppercase{
	text-transform: uppercase;
}

.position-absolute{
	position: absolute;
}
