a.link-white{
	color: #FFFFFF;
	text-decoration: none;
	&:hover, focus {
		background-color : none !important;
		color: #FFFFFF;
		text-decoration: none;
	}
}

a.link-blue{
	color: #3F67AE;
	text-decoration: none;
	&:hover, focus {
		background-color : none !important;
		color: #3F67AE;
		text-decoration: none;
	}
}

a.link-black{
	color: #1A1718;
	text-decoration: none;
	&:hover, focus {
		background-color : none !important;
		color: #1A1718;
		text-decoration: none;
	}
}

a.link-gray{
	color: #F7F7F7;
	text-decoration: none;
	&:hover, focus {
		background-color : none !important;
		color: #F7F7F7;
		text-decoration: none;
	}
}

a.link-round-100{
	border-radius: 100px;
}
