button.button-gray{
	background-color: #E1E1E1;
	color: #1A1718;
	display: inline-block;
	padding: 1px 30px;
	line-height: 1.9;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
	border: none;
}

button.button-red{
	background-color: #DB141A;
	color: #FFFFFF;
	display: inline-block;
	padding: 1px 30px;
	line-height: 1.9;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
	border: none;
}

button.button-blue{
	background-color: #2A5196;
	color: #FFFFFF;
	display: inline-block;
	padding: 1px 30px;
	line-height: 1.9;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
	border: none;
}

button.button-shade-blue{
	background-color: #E6EDF3;
	color: #2A5196;
	display: inline-block;
	padding: 1px 15px;
	line-height: 1.9;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
	border: none;
}

button.button-white{
	background-color: #FFFFFF;
	color: #373A3C;
}
