.padding-top-13{
	padding-top: 13px;
}

.padding-top-18{
	padding-top: 18px;
}

.padding-top-53{
	padding-top: 53px;
}

.padding-top-56{
	padding-top: 56px;
}

.padding-top-58{
	padding-top: 58px;
}

.padding-bottom-3{
	padding-bottom: 3px;
}

.padding-bottom-6{
	padding-bottom: 6px;
}

.padding-bottom-7{
	padding-bottom: 7px;
}

.padding-left-0{
	padding-left: 0px;
}

.padding-right-15{
	padding-right: 15px;
}

.padding-0{
	padding: 0px;
}
