.background-white{
	background-color: #FFFFFF;
}

.background-yellow{
	background-color: #FCFCDD;
}

.background-red{
	background-color: #DB141A;
}

.background-blue{
	background-color: #3F67AE;
}

.background-dark-blue{
	background-color: #2A5196;
}

.background-light-blue{
	background-color: #CEDBE7;
}

.background-shade-blue{
	background-color: #E6EDF3;
}

.background-gray-225{
	background-color: #E1E1E1;
}

.background-gray-238{
	background-color: #EEEEEE;
}

.background-black{
	background-color: #1A1718;
}
