button.button-gray{
	background-color: #E1E1E1;
	color: #1A1718;
}

button.button-red{
	background-color: #DB141A;
	color: #FFFFFF;
}

button.button-blue{
	background-color: #3F67AE;
	color: #FFFFFF;
}

button.button-white{
	background-color: #FFFFFF;
	color: #373A3C;
}