$color-primary: #4D5250 !default;
$color-second: #9B9B9B !default;
$color-third: #fff !default; 

@import "bootstrap/bootstrap";
@import "ionicons/ionicons";
@import "dashboard_v1/hris_background";
@import "dashboard_v1/hris_border";
@import "dashboard_v1/hris_button";
@import "dashboard_v1/hris_dimension";
@import "dashboard_v1/hris_font_and_text";
@import "dashboard_v1/hris_link";
@import "dashboard_v1/hris_margin";
@import "dashboard_v1/hris_padding";
@import "dashboard_v1/hris_plugin";
@import "dashboard_v1/hris_tree";
@import "dashboard_v1/hris_modal";